* {
  padding: 0;
  margin: 0;
}

.topbar {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.titleheading {
  font-size: 55px;
  font-weight: bolder;
  padding: 5%;
}

.newgame {
  height: 4rem;
  width: 6rem;
  margin-top: 5%;
}

.mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.leftbox {
  display: flex;
  flex-direction: column;
  width: 40%;
  gap: 1rem;
}

.leftboxHeading {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.leftHeading,
.rightHeading {
  font-size: 35px;
  font-weight: 500;
}

.refresh {
  width: 5rem;
}

.storedList {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-left: 15%;
  border: 1px solid black;
}

.storedList > li {
  padding: 2% 0% 0% 2%;
}

.storedList > li:nth-child(even) {
  background: lightgrey;
}

.rightbox {
  width: 40%;
  gap: 2rem;
  display: flex;
  flex-direction: column;
}

.form {
  display: flex;
  flex-direction: column;
  width: 25rem;
  gap: 1rem;
}

.input1,
.input2 {
  height: 2rem;
}

.submitdiv {
  width: 100%;
  display: flex;
  justify-content: right;
}

.submit {
  width: 5rem;
  height: 2rem;
}

button {
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px rgb(186, 184, 184);
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
}

button:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}